@import "tailwindcss";
@plugin 'tailwind-scrollbar';

html {
  scroll-behavior: smooth;
  /* @apply bg-zinc-700; */
}

body{
    overscroll-behavior-y: none;
}




/******************\
Utilities
\******************/

.container{
  @apply pl-2 mx-auto lg:pl-3 lg:pr-2 xl:max-w-6xl
}

/******************\
Typography
\******************/
.headline-1, .headline-2{
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #37e0b1, #169073);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline-2e{
    background: -webkit-linear-gradient(0deg, #37e0b1, #169073);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.headline-1 {
    @apply text-5xl leading-tight font-semibold lg:text-[55px]
    lg:leading-[1.15]
}

.headline-2{
    @apply text-3xl lg:text-4xl lg:leading-tight font-semibold
}

.headline-2e{
    @apply text-2xl lg:text-4xl lg:leading-tight font-semibold
}

/******************\
Components
\******************/

/*
  Navbar
*/

/* Desktop Navigation */
.desktop-navbar {
  @apply flex items-center space-x-8 mt-1;
}

.nav-link {
  @apply text-[#20b58b] hover:text-gray-300 transition-colors duration-200 font-semibold;
} 

.nav-link.active {
  @apply text-gray-300;
}

/* Mobile Navigation */
.mobile-navbar {
  @apply bg-white/95 backdrop-blur-md rounded-2xl shadow-lg border border-gray-200 mt-4 p-4;
}

.nav-link-mobile {
  @apply block px-4 py-3 text-gray-700 hover:text-gray-400 hover:bg-gray-100 transition-colors text-sm font-medium relative rounded-lg;
}

.nav-link-mobile.active {
  @apply text-blue-600 bg-blue-400/5;
}

.active-box {
  @apply absolute bg-blue-100 rounded-lg -z-10 transition-all duration-300 ease-in-out;
}

/* Menu Button */
.menu-btn {
  @apply w-10 h-10 flex items-center justify-center bg-white/10 rounded-xl 
    ring-1 ring-inset ring-white/20 backdrop-blur-sm
    hover:bg-white/15 transition-all duration-200 active:scale-95 md:hidden z-100;
}

/* Search Bar */
.search-bar-light {
  @apply block w-40 h-8 pl-10 pr-3 py-2 border 
    border-gray-300 rounded-full leading-5 bg-gray-400
    placeholder-white focus:outline-none hover:bg-gray-100 
    hover:placeholder-gray-400 text-sm font-medium
    transition-colors duration-200;
}

.search-bar-dark{
  @apply block w-40 h-8 pl-10 pr-3 py-2 border 
    border-gray-800 rounded-full leading-5 bg-gray-400
    placeholder-white focus:outline-none hover:bg-gray-100 
    hover:placeholder-gray-400 text-sm font-medium
    transition-colors duration-200;
}

/***************\
Accessories
\***************/

.soft-edges {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.faded-edges {
  mask: 
    linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    /* linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%); */
}

/*Button*/

.btn {
    @apply max-w-max h-9 flex items-center gap-2 px-4 
    rounded-xl font-medium text-sm ring-1 ring-zinc-50/5
    ring-inset transition-[background-color]
}